<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="comment(comment)" class="ms-0 my-2 me-0 d-flex flex-column" th:id="'comment-' + ${comment.getId()}">
            <div class="d-flex flex-column comment-body p-2 mb-3">
                <div class="d-flex flex-row">
                    <img class="rounded-circle me-2 my-auto" th:src="'/user/' + ${#uris.escapePathSegment(comment.author)} + '/image.png'" alt="User Image" style="width: 25px; height: 25px">
                    <a class="fs-6 fw-bold my-auto text-light" th:href="'/user/' + ${#uris.escapePathSegment(comment.author)}" th:text="${comment.author}"></a>
                </div>
                <div class="d-flex flex-row">
                    <span class="my-2" th:text="${comment.quote}"></span>
                    <div class="align-self-end ms-auto gap-2">
                        <button th:replace="~{fragments/delete.html :: comment(${comment.getId()})}"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="create-new-comment m-0" th:fragment="create_new(review)" th:if="${user != null}">
            <div id="new-comment-form-container" class="card p-2">
                <form id="new-comment-form">
                    <div class="d-flex flex-row">
                        <button class="btn btn-dark ms-auto h-50" type="button"><i class="bi bi-x fs-2" onclick="toggleNewComment();"></i></button>
                    </div>
                    <textarea id="new-comment-quote" class="form-control my-2" placeholder="Write here your comment" rows="5" cols="100"></textarea>
                    <button type="submit" class="btn btn-primary w-100">Create comment</button>
                </form>
            </div>
            <script src="/js/create_comment.js"></script>
            <script th:inline="javascript">
                /*<![CDATA[*/
                prepareCommentForm(/*[[${review.getId()}]]*/ null);
                /*]]>*/
            </script>
        </div>
    </body>
</html>