<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <button th:fragment="user(target_username)" th:if="${user != null && user.username != target_username}" class="btn btn-secondary follow-button" type="button" th:id="'follow-button-'+${target_username}">
            <i class="bi bi-person-fill-add me-2"></i><span class="is-following-text">Follow</span>
            <script th:inline="javascript">
                /*<![CDATA[*/
                prepareFollowButton(/*[[${target_username}]]*/ null);
                /*]]>*/
            </script>
        </button>
    </body>
</html>