<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<!-- Bootstrap JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <!-- Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
        <!-- jQuery -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <!-- Handlebars.js -->
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="/js/handlebars_helpers.js"></script>

        <!-- Custom JavaScript -->
        <script src="/js/disable_scroll.js"></script>
        <script src="/js/show_review.js"></script>
        <script src="/js/scroll_detection.js"></script>
        <script th:if="${user != null && user.getAccountType() == 'Admin'}" src="/js/admin.js"></script>
        <script src="/js/hello.js"></script>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/general/general.css">
    </head>

    <body>
        <header id="header" class="p-3 bg-dark position-sticky" th:fragment="header">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-lg-0">
                    <li class="d-flex flex-row">
                        <img src="/favicon_bw_light.svg" width="30" height="30" class="d-inline-block align-top my-auto" alt="">
                        <a href="/" class="nav-link px-2 py-0 my-auto fw-bold" th:classappend="${request.requestURI == '/' ? 'text-secondary' : 'text-light'}"
                        style='font-family: "Xolonium";'>
                            GameCritic
                        </a>
                    </li>
                </ul>
                <form id="search-form" class="me-3 ms-1 col" role="search" autocomplete="off">
                    <input id="search-text" type="search" class="form-control mx-auto" placeholder="Search..." aria-label="Search" autocomplete="off">
                    <div id="search-results"></div>
                </form>
                <script src="/js/search.js"></script>
                <script id="search-result-template" type="text/template">
                    {{#if games}}
                        <div class="search-header">Games</div><hr class="mx-0 mt-0 mb-1"/>
                        {{#each games}}
                        <a class="game-result search-result" href={{url}}>
                            {{name}}
                        </a>
                        {{/each}}
                    {{/if}}
                    {{#if users}}
                        <div class="search-header">Users</div><hr class="mx-0 mt-0 mb-1"/>
                        {{#each users}}
                            <a class="user-result search-result" href="{{url}}">
                                <img src="{{img}}" alt="User Image"/>
                                {{username}}
                            </a>
                        {{/each}}
                    {{/if}}
                    {{#unless games}}
                        {{#unless users}}
                            <div class="search-header">No Results</div>
                        {{/unless}}
                    {{/unless}}
                </script>
                <script>prepareSearch();</script> 
                <div th:if="${user != null}" class="align-self-stretch">
                    <button id="user-dropdown-button" type="button" class="btn btn-dark d-flex flex-row border rounded p-1" onclick="showDropdown();">
                        <img class="d-inline-block align-top rounded-circle ms-1 my-auto me-2" th:src="'/user/' + ${#uris.escapePathSegment(user.username)} + '/image.png'" width="26" height="26" alt="Avatar"/>
                        <span th:text="${user.username}"></span>
                        <i class="bi bi-chevron-down my-auto ms-auto me-2"></i>
                    </button>
                    <div id="user-dropdown" class="card">
                        <a class="dropdown-item hover-text-highlight" th:href="'/user/' + ${#uris.escapePathSegment(user.username)}">
                            <i class="bi bi-person-fill"></i>
                            Profile
                        </a>
                        <a class="dropdown-item hover-text-highlight" th:href="'/user/' + ${#uris.escapePathSegment(user.username)} + '/reviews'">
                            <i class="bi bi-chat-left-text-fill"></i>
                            Reviews
                        </a>
                        <a th:if="${user.getAccountType() == 'Company'}" class="d-flex flex-row align-items-center dropdown-item hover-text-highlight" href="/company_panel">
                            <i class="bi bi-building-fill-gear"></i>
                            <div class="ms-1 text-wrap">
                                Company Panel
                            </div>
                        </a>
                        <a th:if="${user.getAccountType() == 'Admin'}" class="d-flex flex-row align-items-center dropdown-item hover-text-highlight" href="/control_panel">
                            <i class="bi bi-database-fill-gear"></i>
                            <div class="ms-1 text-wrap">
                                Control Panel
                            </div>
                        </a>
                        <hr/>
                        <script src="/js/logout.js"></script>
                        <button class="dropdown-item hover-text-highlight" onclick="logout();">
                            <i class="bi bi-door-closed-fill"></i>
                            Logout
                        </button>
                    </div>
                    <script src="/js/dropdown.js"></script>
                </div>
                <div th:if="${user == null}" class="text-end">
                    <button type="button" class="btn btn-outline-light me-2" onclick="location.href='/authentication?mode=login'">Login</button>
                    <button type="button" class="btn btn-light" onclick="location.href='/authentication?mode=signup'">Sign up</button>
                </div>
            </div>
        </header>
        
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top" th:fragment="footer">
            <div class="container">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1 d-flex">
                        <img src="/favicon_bw_dark.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                        <span class="my-auto ms-2">GameCritic</span>
                    </a>
                </div>
            </div>
            <div th:replace="~{fragments/general.html :: go_to_top}"></div>
        </footer>

        <div th:fragment="go_to_top" id="go-to-top-div">
            <button class="shadow btn btn-dark border rounded-circle w-100 h-100" id="go-to-top-button" onclick="window.scroll({top: 0, behavior: 'smooth'});">
                <i class="bi bi-arrow-up-short"></i>
            </button>
            <script>
                window.addEventListener('scroll', function() {
                    if (window.scrollY > 100)
                        document.getElementById('go-to-top-div').classList.add('show');
                    else
                        document.getElementById('go-to-top-div').classList.remove('show');
                });
            </script>
        </div>
    </body>
</html>