<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="vector_input(id,placeholder)" th:id="${id}" class="vector-input d-flex flex-wrap border rounded">
            <script src="/js/vector_input.js"></script>
            <script id="vector-entry-template" type="text/template">
                <div class="m-1 bg-secondary p-1 rounded vector-entry" id="{{id}}">
                    <span class="mx-2 vector-entry-text">{{text}}</span>
                    <button class="btn btn-secondary rounded" type="button" onclick="removeVectorEntry('{{id}}')"><i class="bi bi-x-circle-fill"></i></button>
                </div>
            </script>
            <div class="d-flex flex-row rounded bg-secondary p-1 m-1 text-input">
                <input type="text" class="form-control me-1" th:placeholder="${placeholder}"/>
                <button class="btn btn-secondary rounded" type="button" onclick="addVectorEntry(this);">
                    <i class="bi bi-plus-circle-fill"></i>
                </button>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    setupVectorInput(/*[[${id}]]*/ 'defaultId');
                    /*]]>*/
                </script>
            </div>
        </div>
    </body>
</html>