<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
  	<head>
		<meta th:replace="~{fragments/general.html :: head}"/>
		<title th:text="'GameCritic - Company Panel - ' + ${company.username}"></title>
		<link rel="stylesheet" href="/css/company_and_control_panel.css">
		<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		<script src="/js/company_panel.js"></script>
		<script src="/js/stats.js"></script>
	</head>
	<body class="d-flex flex-column h-100">
        <header th:replace="~{fragments/general.html :: header}"></header>
		<nav class="d-flex flex-column pt-2 pb-4">
            <ul class="nav nav-pills flex-row justify-content-center mx-auto" id="nav">
                <li><button class="kind-selector btn btn-dark" disabled id="edit" onclick="setActiveForm('edit')">
                    <i class="bi bi-pencil-fill me-2"></i>Edit</button></li>
                <li><button class="kind-selector btn btn-dark" id="publish" onclick="setActiveForm('publish')">
                    <i class="bi bi-plus-circle-fill me-2"></i>Publish</button></li>
                <li><button class="kind-selector btn btn-dark" id="delete" onclick="setActiveForm('delete')">
                    <i class="bi bi-trash-fill me-2"></i>Delete</button></li>
				<li><button class="kind-selector btn btn-dark" id="stats" onclick="setActiveForm('stats')">
					<i class="bi bi-bar-chart-line-fill me-2"></i>Stats</button></li>
            </ul>
            <hr class="mt-0 mx-3">
        </nav>
		<main id="main" class="container d-flex flex-column align-items-center">
			<div id="_idHolder" style="display:none;"></div>
			<form id="edit-form" class="show w-100 flex-column gap-2 mw-600px">
				<select id="game-name-edit" class="form-select" aria-label="Game Name" oninput="loadGameInfo();" >
					<option value="" disabled selected>Game Name</option>
					<option th:each="game : ${games}" th:value="${game.name}" th:text="${game.name}"></option>
				</select>
				<textarea id="game-description-edit" class="form-control" placeholder="Game Description" rows="5"
						  style="display:none;"></textarea>
				<input id="game-img-edit" type="url" class="form-control" placeholder="Game Image URL"
					   style="display:none;"/>
				<div id = "attributeHolder">
					<div th:each="att : ${allAttributes}" th:id="${att}" style="display:none">
						<div th:switch="${att}">
							<div th:case="'Released'">
								<div th:replace="~{fragments/interfaces.html :: vector_input('Release Date','ReleaseDateEditor', 'Add Release Date' )}"></div>
								<div th:replace="~{fragments/interfaces.html :: vector_input('Platform','PlatformEditor', 'Add Platform')}"></div>
							</div>
							<div th:case="*">
								<div th:replace="~{fragments/interfaces.html :: vector_input(${att},${att}+'Editor', 'Add ' + ${att})}"></div>
							</div>
						</div>
					</div>
				</div>
				<input type="submit" class="btn btn-primary" value="Edit"/>
			</form>
			<form id="publish-form" class="w-100 flex-column gap-2 mw-600px">
				<input id="NameSinglePublish" type="text" class="form-control" placeholder="Game Name"/>
				<textarea id="DescriptionSinglePublish" class="form-control" placeholder="Game Description" rows="5"></textarea>
				<input id="imgSinglePublish" type="url" class="form-control" placeholder="Game Image URL"/>
				<div th:replace="~{fragments/interfaces.html :: vector_input('Release Date','ReleaseDateMultiPublish','Add Release Date')}"></div>
				<div th:replace="~{fragments/interfaces.html :: vector_input('Platform','PlatformMultiPublish','Add Platform')}"></div>
				<div th:replace="~{fragments/interfaces.html :: vector_input('Publishers','PublishersMultiPublish','Add Publishers')}"></div>
				<div th:replace="~{fragments/interfaces.html :: vector_input('Developers','DevelopersMultiPublish','Add Developers')}"></div>
				<div th:replace="~{fragments/interfaces.html :: vector_input('Genre','GenrePublish','Add Genre')}"></div>
				<div th:replace="~{fragments/interfaces.html :: new_attributes_input()}"></div>
				<input type="submit" class="btn btn-primary" value="Publish"/>
			</form>
			<form id="delete-form" class="w-100 flex-column gap-2 mw-600px">
				<select id="game-name-delete" class="form-select">
					<option value="" disabled selected>Game Name</option>
					<option th:each="game : ${games}" th:text="${game.name}"></option>
				</select>
				<input type="text" class="form-control" id="game-name-repeat-delete" placeholder="Repeat Game Name"/>
				<input type="submit" class="btn btn-primary" value="Delete"/>
			</form>
			<div th:replace="~{fragments/interfaces.html :: stats('stats-form')}"></div>
		</main>
		<script>
			setupForms();
		</script>
        <footer th:replace="~{fragments/general.html :: footer}"></footer>
    </body>
</html>