<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
  	<head>
		<meta th:replace="~{fragments/general.html :: head}"/>
		<title>GameCritic - Error</title>
		<link rel="stylesheet" href="/css/error.css">
	</head>
	<body class="d-flex flex-column h-100">
		<header th:replace="~{fragments/general.html :: header}"></header>
		<main class="px-4 py-5 my-5 text-center">
			<h2>Oops...</h2>
			<h1 class="display-1 fw-bold lh-1 text-body-emphasis" th:text="${status}"></h1>
			<h3 th:text="${status_string}"></h3>
		</main>
		<footer th:replace="~{fragments/general.html :: footer}"></footer>
  	</body>
</html>