<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
  	<head>
		<meta th:replace="~{fragments/general.html :: head}"/>
		<title th:text="'GameCritic - ' + ${game.name}"></title>
		<link rel="stylesheet" href="/css/game.css">
	</head>
	<body class="d-flex flex-column h-100">
		<header th:replace="~{fragments/general.html :: header}"></header>
		<div th:replace="~{fragments/score.html :: score_bg(${game.user_score})}"></div>
		<main class="card container p-0 mt-5 shadow">
			<div class="d-flex game-card">
				<div class="bg-black rounded game-image-container overflow-hidden">
					<img th:src="${game.img}" class="mx-auto d-block h-100" alt="Game Image">
				</div>
				<div class="d-flex flex-column game-info-container">
					<h1 class="fw-bold mt-3 fs-2" th:text="${game.name}"></h1>
					<div class="container h-100 d-flex flex-column">
						<div class="d-flex flex-row row">
							<h2 class="fs-4 fw-bold my-auto row">Release</h2>
							<span class="mx-auto my-auto row" th:text="${game.release}"></span>
						</div>
						<div class="d-flex flex-row row">
							<h2 class="fs-4 fw-bold my-auto row">Genre</h2>
							<span class="mx-auto my-auto row" th:text="${game.genre}"></span>
						</div>
						<div class="d-flex flex-row row">
							<h2 class="fs-4 fw-bold my-auto row">Developers</h2>
							<span class="mx-auto my-auto row" th:each="developer : ${game.developers}">
								<span th:text="${developer}"></span>
								<span th:unless="${developerStat.last}">,</span>
							</span>
						</div>
						<div class="d-flex flex-row row">
							<h2 class="fs-4 fw-bold my-auto row">Publishers</h2>
							<span class="mx-auto my-auto row" th:each="publisher : ${game.publishers}">
								<span th:text="${publisher}"></span>
								<span th:unless="${publisherStat.last}">,</span>
							</span>
						</div>
						<div class="d-flex flex-row row mt-auto mb-3">
							<h2 class="fs-3 fw-bold my-auto col">User Score</h2>
							<div class="col">
								<div th:replace="~{fragments/score.html :: score_big(${game.user_score})}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mx-4 mt-2 d-flex flex-row">
				<h2 class="fs-3">Description</h2>
			</div>
			<hr class="mx-3 mb-2 mt-0"/>
			<div class="d-flex flex-column container">
				<p th:text="${game.description}"></p>
			</div>
			<div class="mx-4 mt-2 d-flex flex-row">
				<h2 class="fs-3">Reviews</h2>
				<a th:href="'/game/' + ${game.id} + '/reviews'" class="d-flex flex-row text-secondary"><small class="my-auto ms-3">SHOW ALL</small></a>
			</div>
			<hr class="mx-3 mb-2 mt-0"/>
			<div th:replace="~{fragments/review.html :: top_reviews(${game.top_reviews},'user')}"></div>
		</main>
		<footer th:replace="~{fragments/general.html :: footer}"></footer>
  	</body>
</html>