<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
  	<head>
		<meta th:replace="~{fragments/general.html :: head}"/>
		<title th:text="'GameCritic - ' + ${game.name}"></title>
		<link rel="stylesheet" href="/css/game.css">
		<script src="/js/like.js"></script>
	</head>
	<body class="d-flex flex-column h-100">
		<header th:replace="~{fragments/general.html :: header}"></header>
		<div th:replace="~{fragments/score.html :: score_bg(${#maps.containsKey(game.customAttributes,'user_review')?game.customAttributes.user_review:null})}"></div>
		<main class="card container p-0 mt-5 shadow">
			<div class="d-flex game-card">
				<div class="bg-black rounded game-image-container overflow-hidden align-self-stretch">
					<img th:src="${#maps.containsKey(game.customAttributes,'img')?game.customAttributes.img:'/img/missing_game_image.png'}" class="mx-auto d-block h-100" alt="Game Image">
				</div>
				<div class="d-flex flex-column game-info-container">
					<h1 class="fw-bold mt-3 fs-2" th:text="${game.name}"></h1>
					<div class="container h-100 d-flex flex-column">
						<div class="d-flex flex-row row">
							<h2 class="fs-4 fw-bold my-auto row">Release</h2>
							<span class="mx-auto my-auto row" th:text="${game.released}"></span>
						</div>
						<div class="d-flex flex-row row" th:if="${#maps.containsKey(game.customAttributes,'Genre')}">
							<h2 class="fs-4 fw-bold my-auto row">Genres</h2>
							<div class="d-flex flex-wrap ms-0 ps-0 me-auto my-auto">
								<div class="d-inline" th:each="genre : ${game.customAttributes.Genre}">
									<div class="d-inline" th:text="${genre}"></div>
									<div class="d-inline me-2" th:unless="${genreStat.last}">,</div>
								</div>
							</div>
						</div>
						<div class="d-flex flex-row row" th:if="${#maps.containsKey(game.customAttributes,'Developers')}">
							<h2 class="fs-4 fw-bold my-auto row">Developers</h2>
							<div class="d-flex flex-wrap ms-0 ps-0 me-auto my-auto">
								<div class="d-inline" th:each="Developer : ${game.customAttributes.Developers}">
									<a class="text-light d-inline" th:text="${Developer}" th:href="'/company/'+${#uris.escapePathSegment(Developer)}"></a>
									<div class="me-2 d-inline" th:unless="${DeveloperStat.last}">,</div>
								</div>
							</div>
						</div>
						<div class="d-flex flex-row row" th:if="${#maps.containsKey(game.customAttributes,'Publishers')}">
							<h2 class="fs-4 fw-bold my-auto row">Publishers</h2>
							<div class="d-flex flex-wrap ms-0 ps-0 me-auto my-auto">
								<div class="d-inline" th:each="Publisher : ${game.customAttributes.Publishers}">
									<a class="text-light d-inline" th:text="${Publisher}" th:href="'/company/'+${#uris.escapePathSegment(Publisher)}"></a>
									<div class="me-2 d-inline" th:unless="${PublisherStat.last}">,</div>
								</div>
							</div>
						</div>
						<div class="d-flex flex-row row mt-auto mb-3">
							<h2 class="fs-3 fw-bold my-auto col">User Score</h2>
							<div class="col d-flex justify-content-end">
								<div th:replace="~{fragments/score.html :: score_big(${#maps.containsKey(game.customAttributes,'user_review')?game.customAttributes.user_review:null})}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex flex-row justify-content-end px-3 my-2 mx-3 gap-2">
				<button th:replace="~{fragments/delete.html :: game}"></button>
			</div>
			<div class="mx-4 mt-2 d-flex flex-row">
				<h2 class="fs-3">Description</h2>
			</div>
			<hr class="mx-3 mb-2 mt-0"/>
			<div class="d-flex flex-column container">
				<p th:text="${#maps.containsKey(game.customAttributes,'Description')?game.customAttributes.Description:null}"></p>
			</div>
			<div class="d-flex flex-column" th:if="${#maps.size(game.customAttributes) > 0}">
				<div class="mx-4 mt-2 d-flex flex-row">
					<h2 class="fs-3">Other Info</h2>
				</div>
				<hr class="mx-3 mb-2 mt-0"/>
				<div class="d-flex flex-wrap ms-0 ps-0 me-auto my-auto">
					<div class="d-flex flex-row" th:each="entry : ${game.customAttributes}">
						<!-- Check if the attribute name is not in the excludedNames list -->
						<div th:unless="${#lists.contains(excludedNames, entry.key)}"
							 style="margin-bottom: 2rem; margin-left: 2rem;">
							<div class="fw-bold me-1" th:text="${entry.key}"></div>
							<div th:each="ob : ${entry.value}">
								<div th:text="${ob}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mx-4 mt-2 d-flex flex-row">
				<h2 class="fs-3">Reviews</h2>
				<a th:href="'/game/' + ${#uris.escapePathSegment(game.name)} + '/reviews'" class="d-flex flex-row text-secondary"><small class="my-auto ms-3">SHOW ALL</small></a>
			</div>
			<hr class="mx-3 mb-2 mt-0"/>
			<div th:replace="~{fragments/review.html :: top_reviews(${game.top_reviews},'user')}"></div>
			<div th:replace="~{fragments/review.html :: create_new(${game.name})}"></div>
		</main>
		<footer th:replace="~{fragments/general.html :: footer}"></footer>
  	</body>
</html>