<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
    <head>
        <meta th:replace="~{fragments/general.html :: head}"/>
        <title>GameCritic - Homepage</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="~{fragments/general.html :: header}"></header>
        <main class="container flex-column">
            <article th:each="game : ${games}">
                <a class="card flex-md-row mb-4 h-md-250 shadow" th:href="'/game/' + ${game.id}">
                    <img th:src="${game.img}" class="card-img-left flex-auto rounded d-lg-block" alt="Game Image">
                    <div class="card-body d-flex align-items-end flex-column">
                        <div>
                            <h2 th:text="${game.name}"></h2>
                            <p th:text="${#strings.abbreviate(game.description,512)}"></p>
                        </div>
                        <div class="mt-auto">
                            <div th:replace="~{fragments/score.html :: score_big(${game.user_score})}"></div>
                        </div>
                    </div>
                </a>
            </article>
        </main>
        <footer th:replace="~{fragments/general.html :: footer}"></footer>
    </body>
</html>