#stats-container {
    display: grid;
}

.stat {
    width: calc(100%/3 - 20px);
    margin: 10px;
}

@media (max-width: 992px) {
    .stat {
        width: calc(100%/2 - 20px);
    }
}

@media (max-width: 768px) {
    .stat {
        width: calc(100% - 20px);
    }
}

.graph-stat.stat {
    height: 250px;
}

.tag-stat img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.stat-chart-container {
    flex: 1 0 auto;
}