

.main-wrapper {
    height: 424px;
    margin-top: calc(50vh - 424px / 2);
    margin-bottom: calc(50vh - 424px / 2);
}

main.container {
    max-width: 400px;
}

main.error {
    border-color: #ff6d6d;
}

main a {
    width: fit-content;
}

form {
    display: none;
}

form.show {
    display: flex;
}

.form-swap-btn {
    border-radius: 5px 5px 0 0;
    border: none;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
}

.form-swap-btn:not(:disabled)
{
    color: #898989;
    font-weight: normal;
    cursor: pointer;
}

.form-swap-btn:disabled {
    color: #ffffff;
    font-weight: bold;
    opacity: 1;
    cursor: default;
    border-bottom: 4px solid #ffffff;
}
