main.container {
    max-width: 600px;
}

div.comment-body {
    box-shadow: 0 0 0 0 rgb(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 5px;
}

div.comment-body:has(button):hover {
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.2);
}

.respond-button {
    opacity: 0.1;
    transition: opacity 0.2s ease-in-out;
}

div.comment-body:hover .respond-button {
    opacity: 1;
}

main .respond-button:hover {
    opacity: 1;
}

#create-new-comment-button:has(.bi-check-circle-fill) {
    opacity: 1;
}

#create-new-comment-button-text.bi-check-circle-fill{
    color: #308752;
}

.create-new-comment {
    width: calc(100% - 1em);
    margin: 0.5em;
}

.create-new-comment .new-comment-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

.create-new-comment .new-comment-form.show {
    display: flex;
}

.create-new-comment:has(.new-comment-form.show)::after {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@media (hover: none) {
    div.comment-body {
        box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.2);
    }
    div.comment-body .respond-button { 
        opacity: 1;
    }
}