.top-games img
{
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
}

@media (max-width: 767px)
{
    .top-games img
    {
        width: 125px;
        height: 187.5px;
    }
}

.top-games > a
{
    flex: 1 1 0;
}