main>form, main>div 
{
    display: none;
}

main>form.show, main>div.show
{
    display: flex;
}

form.mw-600px
{
    max-width: 600px;
}

form>select, form>input, form>textarea, form>.vector-input
{
    width: 100%;
}

#terminal-log 
{
    height: calc(100vh - 350px);
    white-space: pre-line;
}

@media (min-width: 992px)
{
    #terminal-log 
    {
        height: calc(100vh - 312px);
    }
}