.score-bg {
    width: 100%;
    margin-top: 205px;
    height: 200px;
    position: absolute;
}

small {
    font-size: 0.8em;
}

span.row {
    padding: 0;
}

span.row span {
    padding: 0;
}

.game-image-container {
    width: 100%;
    height: auto;
}

.game-image-container img {
    height: 100%;
}

.game-info-container {
    width: 100%;
    height: fit-content;
    padding: 0 20px 0 20px;
}

.top-reviews {
    flex-direction: column;
}

.game-card {
    flex-direction: column;
}

.long-review.show-review {
    display: flex;
}

div:has(.long-review.show-review)::after {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.long-review {
    display: none; 
    position: fixed; 
    background-color: #212529;
    z-index: 10; 
    color: white; 
    padding: 1em; 
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 512px;
}

@media (min-width: 768px) {
    .score-bg {
        margin-top: 195px;
    }

    .game-image-container {
        width: 60%;
    }

    .game-info-container {
        width: 40%;
    }

    .game-card {
        flex-direction: row;
    }

    .top-reviews {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .score-bg {
        margin-top: 75px;
    }

    .game-image-container {
        width: 70%;
    }

    .game-info-container {
        width: 30%;
    }

    .game-card {
        flex-direction: row;
    }

    .top-reviews {
        flex-direction: row;
    }
}