a.card 
{
    text-decoration: unset;
}

a.card::after
{
    content: "";
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(255, 255, 255, 0.0);
    transition: 0.5s;
}

a.card:hover::after
{
    background-color: rgba(255, 255, 255, 0.05);
}

a.card.user-suggestion img
{
    width: 100%;
    aspect-ratio: 1/1;
}

div.user-suggestion-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media (min-width: 768px)
{
    div.user-suggestion-container
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }   
}


@keyframes loading
{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: 100% 0;
    }
}

#dummy-loading-game div.img
{
    aspect-ratio: 2/3;
    width: 100%;
}

#dummy-loading-game .loading {
    background: linear-gradient(90deg, #212529 0px, #2c3034 25%, #212529 50%, #2c3034 75%, #212529 100%);
    background-size: 200% 100%;
    animation: loading 1s infinite linear;
}

a.card img {
    object-fit: cover;
}

@media (min-width: 768px)
{
    #dummy-loading-game div.img
    {
        width: 200px;
    }

    a.card img {
        width: 200px;
    }

    a.card .card-body
    {
        width: calc(100% - 200px);
    }
}