@import url("/css/general/interfaces/vector_input.css");
@import url("/css/general/interfaces/stats.css");

.score-bg {
    height: 38vh;
}

textarea
{
    resize: none;
}

#go-to-top-div
{
    position: fixed;
    bottom: -100px; 
    right: 10px; 
    height: 4em; 
    width: 4em;
    transition: bottom 0.2s ease-in-out;
}

#go-to-top-div.show 
{
    bottom: 10px;
}

#go-to-top-div button i 
{
    font-size: 2em;
}

.review-actions button {
    font-size: 14px;
}

#user-dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    z-index: 8;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#user-dropdown.show {
    display: flex;
}

#user-dropdown-button {
    min-width: 170px;
}

#user-dropdown-button i {
    transition: transform 0.1s ease-in-out;
}

div:has(#user-dropdown.show) #user-dropdown-button i {
    transform: rotate(180deg);
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
}

small {
    font-size: 0.8em;
}

.hover-text-highlight {
    transition: text-shadow 0.5s;
}

.hover-text-highlight:hover {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.score-big {
    width: 5em;
    height: 5em;
}

.score-small {
    width: 3em;
    height: 3em;
}

.score-big span {
    font-size: 3em;
}

.score-small span {
    font-size: 2em;
}

.score-big, .score-small {
    transition: background-color 0.2s ease-in-out;
}

.top-reviews {
    flex-direction: column;
    min-height: 180px;
}

.long-review.show-review {
    display: flex;
}

div:has(.long-review.show-review)::after {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.long-review {
    display: none; 
    position: fixed; 
    background-color: #212529;
    z-index: 10; 
    color: white; 
    padding: 1em; 
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 512px;
}

#search-results.show {
    display: flex;
}

#search-results {
    display: none;
    max-height: 40vh;
    overflow: auto;
    flex-direction: column;
    position: fixed;
    background-color: #212529;
    border-radius: 0 0 5px 5px;
    padding: 1em;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.search-result:hover::after {
    background-color: rgba(255, 255, 255, 0.2);
}

.search-result::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px;
}

.search-result {
    position: relative;
    color: white;
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
}

.search-result img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
}

#search-form.list #search-text {
    border-radius: 5px 5px 0 0;
}

#search-form #search-text {
    border-radius: 5px;
}   

.underline-on-hover {
    text-decoration: none;
}

.underline-on-hover:hover {
    text-decoration: underline;
}

nav button.btn:disabled
{
    opacity: 1;
    border-bottom: 4px solid #ffffff;
    
}

nav button.btn
{
    border: none;
    border-bottom: 4px solid transparent;
    border-radius: 5px 5px 0 0;
}

nav button.btn:not(:disabled)
{
    opacity: 0.5;
}

#new-review-score::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #d33242, #f9c000, #308752);
}

#new-review-score::-moz-range-track {
    background: linear-gradient(to right, #d33242, #f9c000, #308752);
}

#create-new-review-button:has(.bi-check-circle-fill) {
    opacity: 1;
}

#create-new-review-button-text.bi-check-circle-fill{
    color: #308752;
}

.create-new-review {
    width: calc(100% - 1em);
    margin: 0.5em;
}

.create-new-review .new-review-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

.create-new-review .new-review-form.show {
    display: flex;
}

.create-new-review:has(.new-review-form.show)::after {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.like-button .like-text {
    min-width: 38px;
    display: inline-block;
    text-align: left;
}

.review-actions .like-button .like-text {
    min-width: 33px;
}

@media (min-width: 768px) {
    .top-reviews {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .top-reviews {
        flex-direction: row;
    }
}